<div class="container">
  <h1>Contact</h1>

  <ul class="social-media">
    <li class="bx bxl-gmail">
      <img src="../../assets/111.png" alt="" />
    </li>
    <li class="bx bxl-gmail">
      <img src="../../assets/222.png" alt="" />
    </li>
    <li class="bx bxl-gmail">
      <img src="../../assets/333.png" alt="" />
    </li>
  </ul>

  <button (click)="downloadingBtn()">Download Resume</button>

  <ul class="contact-info">
    <li>Mobile: 5140000000</li>
    <li>mahdi.alizada37@gmail.com</li>
  </ul>
</div>
